<h2>{{artworks.length}} works of art</h2>
{{#each artworks as |artwork index|}}
<h3>
  <a href="/{{artwork.title}}">{{artwork.title}} by {{artwork.artist}}</a>
</h3>
{{/each}}

<form action="/" method="post">
  <input type="text" name="title" placeholder="Title">
  <input type="text" name="artist" placeholder="Artist">
  <button type="submit">add mo' art</button>
</form>
